src/main/resources/schemas/Supplier.xsd

<?xml version="1.0" encoding="utf-8"?>
<s:schema xmlns:s="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" targetNamespace="http://services.visionweb.com">
	<s:element name="GetSuppliers">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="username"
					type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="password"
					type="s:string" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:element name="GetSuppliersResponse">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="GetSuppliersResult"
					type="s:string" />
			</s:sequence>
		</s:complexType>
	</s:element>
</s:schema>
